* {
    font-family: 'Press Start 2P', cursive;
  }
  html{
    background: linear-gradient(to bottom, #4f5ddd, #444242);
  }
  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    border: solid 2px;
  }
  
  .play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }

  .compass-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .north {
    margin-bottom: 10px;
  }
  
  .south {
    margin-top: 10px;
  }
  
  .west,
  .east {
    width: 20px;
    height: 40px;
  }
  
  .directional-pad {
    display: none; /* Initially hide the directional pad */
  }
  
  @media (max-width: 768px) {
    /* Show the directional pad only on screens smaller than 768px */
    .directional-pad {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      /* justify-content: center; */
      margin-top: 20px;
    }
  }
  